@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
:root{
    --main-color: rgba(202, 142, 31, 0.89);
    --secondry:  rgba(33, 44, 33, 0.611);
}


body {
    margin: 0px;
    padding: 0px;
}

.banner {
    position: relative;
}

.welcome {
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: 'Protest Revolution', sans-serif;
    font-size: 4vw;
    color:var(--main-color);
    background-color: var(--secondry);

}
.banner img {
    max-width: 100%;
}


.welcome span {
    font-size: 2em;
}
header{
    width: 100%;
    background-color: rgba(35, 120, 35, 0.611);
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

header h2 {
    color: orange;
    font-size: 10px;
    display: block;
    text-shadow: 2px 2px slategray;
    border: 2px solid crimson;
    padding: 5px;
    border-radius: 40px;
    text-align: center;
}

nav {
    background-color: slategray;
    position: sticky;
    top:41px
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    display: inline-block;
}

nav li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    text-decoration: underline;
    color: slategray;
    background-color: antiquewhite;
}

.continer {
    display: flex;

    flex-wrap: wrap;
    background-color: rgba(128, 0, 128, 0.199);
    height: 500px;
}

.box{
    height: 250px;
    min-width: 50px;

}

.red {
    background-color: red;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.blue {
    background-color: blue;
    flex-grow: 3;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.sub{
    min-height: 50px;
    background-color: antiquewhite;
    flex-grow: 1;
    margin:2px;
}


@media screen and (min-width:400px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }

}

.main {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-color: rgba(0, 255, 255, 0.228);
    grid-gap: 2px;
    transform: rotateZ('45') scale(0.5);
}

#img1 {
    background-color: red;
    grid-row: 1/3;
    grid-column: 1/9;
}

#img2 {
    background-color: blue;
    grid-row: 1/9;
    grid-column: 9/11;
}

#img3 {
    background-color: white;
    grid-row: 3/11;
    grid-column: 1/3;
}

#img4 {
    background-color: slategray;
    grid-row: 3/9;
    grid-column: 3/9;
}

#img5 {
    background-color: blueviolet;
    grid-row: 9/11;
    grid-column: 3/11;
}





.gridItem {
    min-height: 50px;
}

img {
    width: 100%;
    height: 100%;
}